
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :school) %></th>
    </tr>
  </thead>
  </tbody>
</table>
<% @rooms.each do |room| %>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading preview">
                    <%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
                </div>
                <div class="panel-body">
                    <%= link_to room.price, room_path(room) %> € - <%= link_to room.room_type, room_path(room) %> - </b>
                    <br><%= link_to room.listing_name, room_path(room) %></p>
                </div>
            </div>
        </div>
    <% end %>
